<a href="https://colab.research.google.com/github/ayten21/Explore-Python/blob/main/Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

<center> <h1> Variables and Data Types </h1> </center> 

---

---

###   Variable Assignment


- When you create a variable you keep some space in memory. These memory locations are then used to store values. 



---

In [ ]:
# define a variable name "a" and assign value 5 to it
a = 5
a

- To view some data on the output screen, python also has `print` function. Using `print` function we can control the view on the output screen.

---

In [ ]:
print(a)

###  How variables work in Python

---

In [ ]:
# Python runs sequentially. Example:
a = 7
b = a
a = 3



***What will be the value of a?***


---

In [ ]:
print(a)

In [ ]:
print(b)

### Variable naming rules


---
***Identifiers in Python***

* Like Variables, we have to define functions, classes, etc in python. Naming them helps to differentiate one entity from another.
* All these names given to these entities are known as `Identifiers`. 
* Python have some rules to define the Identifiers.  


***Rules of Writing Identifiers***

* Python is case sensitive language.
* Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myVariable, var_1 and print_this, all are valid example.
* An identifier cannot start with a digit.
* `1variable` is invalid, but `variable1` is perfectly fine.
* We cannot use special symbols like !, @, #, $, % etc. in our identifier. `_` is allowed.

* ***`Keywords` cannot be used as identifiers. `Keywords` are the reserved words in Python.***

---

***Keywords in Python***

---

* False	
* class	
* finally	
* is	
* return
* None	
* continue	
* for	
* lambda	
* try
* True, etc


---

---

***Python is case sensitive so `a` and `A` are different***

---

In [ ]:
A = 4

In [ ]:
print(a)
print(A)

***Rules to define variable names***

---

In [ ]:
# allowed
a = 5

In [ ]:
# only "_" underscore is allowed in allowed in special characters in the variable name
_a = 5

In [ ]:
# other special characters are not allowed
@a=5

SyntaxError: invalid syntax (<ipython-input-11-d71cdc5ed5c5>, line 2)

In [ ]:
# we can not start with variables name with a number
1a = 5

SyntaxError: invalid syntax (<ipython-input-12-c86ca84d118d>, line 2)

---


###  Data types

* int
* string
* float
* bool

---

In [ ]:
# INTEGER TYPE
a = 5

In [ ]:
type(a)

int

In [ ]:
# STRING TYPE
b = "aytan"

In [ ]:
type(b)

str

In [ ]:
# FLOAT TYPE
c = 5.55

In [ ]:
type(c)

float

In [ ]:
# BOOLEAN TYPE
d = True

In [ ]:
type(d)

bool

---

###  Type Conversion


***Python defines type conversion functions to directly convert one data type to another.***



---

***convert float to integer***

---

In [ ]:
# age is generally in integer numbers
my_age = 26.33333
my_age = int(my_age)
my_age

26

***convert string to integer***

---

In [ ]:
# if we try to add string and integer number, it will give an error
my_int = '2' + 6

TypeError: can only concatenate str (not "int") to str

In [ ]:
# type conversion: string to int
my_int = int('2') + 6
my_int

8

It is possible to convert any integer or float to string data type, but we cannot convert categorical strings into integer or float!